# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PunchRunner3D.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Kodlama\UnityProjects\TroyaGames\PunchRunner3D\.idea\.idea.PunchRunner3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
